@import url('https://fonts.googleapis.com/css?family=Plus Jakarta Sans'); 

*  {font-family: 'Plus Jakarta Sans';}
a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

h1, medium{
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    color: #ffffff;
}

medium{
    font-size: 20px;
}

button[type="primary"] {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    color: #ffffff;
    background-color: #1e1e1e1e;
}
  
.button1 {
background-color: white; 
color: black; 
border: 2px solid #04AA6D;
}

.button1:hover {
background-color: #04AA6D;
color: white;
}